.form-group{
    width: 100%;
    max-width: 330px;
    padding:  15px;
    height: 100%;
    margin: auto;
}
#card_login{
    width: 20rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
#login_obrazok{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-top: 1rem;
}